#navbar1{
    background-color: #611919;
}

#navbar1>a>i{
    color: white;
}

#navbar2{
    background-color: white;
    color: black;
}

#navbar3{
    background-color: orange;
    color: white;
}

#navbar3>li>a:hover,#navbar3>li>a:focus{
    color: black;
}

.jumbotron {
    background-image: url("http://via.placeholder.com/800x500.png");    
    background-size: cover;
    height: 500px;
    width: 100%;

}

.jumbotron .container {
    position: relative;
    top: 100px;
    color: white;
}

#button1{
    background-color: orange;
    color: white;
}
#button1:hover{
    background-color: white;
    color: orange;
}

<!--Counter Section-->
.sections {
    padding-top: 85px;
    padding-bottom: 105px;
    overflow: hidden;
}
.overlay {
    background-color: rgba(0, 0, 0, 0.2);
    width: 100%;
    height: 750px;
}
.counter_two{
    background: url("http://via.placeholder.com/800x200.png") no-repeat 100% 100%;
    background-size:cover;
    height: 200px;
    overflow: hidden;
}

.counter_two .main_counter_two .single_counter_two_right{
    margin-top:30px;
    overflow: hidden;
    display: block;
}
.counter_two .main_counter_two .single_counter_two_right i{
    color:orange;
    font-size:30px;
    margin-bottom:40px;
    line-height: 4rem;
    display: inline-block;
}
.counter_two .main_counter_two .single_counter_two_right h2{
    color:white;
    margin-bottom:30px;
    line-height: 0;
}
.counter_two .main_counter_two .single_counter_two_right p{
    color:orange;
    size: 10px;
}

/* Landscape phones and portrait tablets */
@media  (max-width: 768px) {
    html {
        font-size: 80%;
    }

    .counter_two {
        height: auto;
    }
    .overlay{
        height: auto;
    }
}

.card-text{
    border-bottom: 2px solid orange;
}

#button2{
    background-color: rgb(46, 29, 0);
    color: rgb(172, 140, 0);
}
#button2:hover{
    background-color: rgb(172, 140, 0);
    color: rgb(46, 29, 0);
}


/*=============== //Home-team ===============*/
.home-doctors {
    text-align: center;
    padding: 70px 0 80px;
    background: #f0f5f6;
  }
  
  .home-doctors h2 {
      font-weight: normal;
  }
  
  .home-doctors .common-doctor {
    background-color: #fff;
  }
  .home-doctors .common-doctor figure {
    overflow: hidden;
    width: 100%;
      height: 196px;
  }
  
  .home-doctors img {
      width: 100%;
      height: auto;
      margin-top: -6em;
  }
  
  .home-doctors .common-doctor h5 {
    margin: 0 0 7px;
    font-size: 18px;
      font-weight: 700;
      color: #3a3c41;
  }
  .home-doctors .common-doctor .for-border {
    margin-bottom: 20px;
  }
  .home-doctors .common-doctor .text-content {
    padding: 19px 14px 13px;
  }
  .home-doctors.doctors-var-two {
    text-align: left;
    background-color: #fff;
  }
  .home-doctors.doctors-var-two .slogan-section {
    text-align: left;
  }
  .home-doctors.doctors-var-two .common-doctor {
    background-color: transparent;
  }
  .home-doctors.doctors-var-two .common-doctor .for-border {
    display: none;
  }
  .home-doctors.doctors-var-two .common-doctor .text-content {
    padding: 20px 0 20px;
  }
  .home-doctors.doctors-var-two .text-center {
    text-align: left;
  }
  
  .slogan-section {
      margin-bottom: 50px;
      text-align: center;
  }
  
  .home-doctors .common-doctor .for-border {
      margin-bottom: 20px;
  }
  
  .home-doctors .common-doctor h5 small {
      color: orange;
      font-weight: bold;
      font-size: 0.8em;
      font-style: italic;
  }
  
  .home-doctors .common-doctor ul{
      position: absolute;
      top: 50%;
      left: 0;
      width: 100%;
      margin-top: -28px;
      text-align: center;
      margin-top: -2em;
      opacity: 0.5;
      z-index: 1;
  }
  
  .home-doctors .common-doctor li a {
      background: white;
      color: grey;
      padding: 0.75em;
  }
  
  .social-lists>li>a:hover {
      margin-top: -2em;
      opacity: 1;
      background-color:grey;
      color:white;
  }
  
  /*=============== //Home-team ===============*/

  