#navbar1{
    background-color: #611919;
}

#navbar1>a>i{
    color: white;
}

#navbar2{
    background-color: white;
    color: black;
}

#navbar3{
    background-color: orange;
    color: white;
}

#navbar3>li>a:hover,#navbar3>li>a:focus{
    color: black;
}

.bigPicture>.jumbotron {
    background-image: url("http://via.placeholder.com/800x500.png");    
    background-size: cover;
    height: 500px;
    width: 100%;
}

.bigPicture .jumbotron .container {
    position: relative;
    top: 100px;
    color: white;
}

#button1{
    background-color: orange;
    color: white;
}
#button1:hover{
    background-color: white;
    color: orange;
}

<!--Counter Section-->
.sections {
    padding-top: 85px;
    padding-bottom: 105px;
    overflow: hidden;
}
.overlay {
    background-color: rgba(0, 0, 0, 0.2);
    width: 100%;
    height: 750px;
}
.counter_two{
    background: url("http://via.placeholder.com/800x200.png") no-repeat 100% 100%;
    background-size:cover;
    height: 300px;
    overflow: hidden;
}

.counter_two .main_counter_two .single_counter_two_right{
    overflow: hidden;
    display: block;
}
.counter_two .main_counter_two .single_counter_two_right i{
    color:orange;
    font-size:30px;
    margin-bottom:40px;
    line-height: 4rem;
    display: inline-block;
}
.counter_two .main_counter_two .single_counter_two_right h2{
    color:white;
    margin-bottom:30px;
    line-height: 0;
}
.counter_two .main_counter_two .single_counter_two_right p{
    color:orange;
    size: 10px;
}

/* Landscape phones and portrait tablets */
@media  (max-width: 768px) {
    html {
        font-size: 80%;
    }

    .counter_two {
        height: auto;
    }
    .overlay{
        height: auto;
    }
}

.card-text{
    border-bottom: 2px solid orange;
}

#button2{
    background-color: rgb(46, 29, 0);
    color: rgb(172, 140, 0);
}
#button2:hover{
    background-color: rgb(172, 140, 0);
    color: rgb(46, 29, 0);
}

.card-title,.card-text{
    margin-left: 50px;
    margin-right: 50px;
}

/*=============== //Home-team ===============*/
.home-doctors {
    text-align: center;
    padding: 70px 0 80px;
    background: #f0f5f6;
  }
  
  .home-doctors h2 {
      font-weight: normal;
  }
  
  .home-doctors .common-doctor {
    background-color: #fff;
  }
  .home-doctors .common-doctor figure {
    overflow: hidden;
    width: 100%;
      height: 196px;
  }
  
  .home-doctors img {
      width: 100%;
      height: auto;
      margin-top: -6em;
  }
  
  .home-doctors .common-doctor h5 {
    margin: 0 0 7px;
    font-size: 18px;
      font-weight: 700;
      color: #3a3c41;
  }
  .home-doctors .common-doctor .for-border {
    margin-bottom: 20px;
  }
  .home-doctors .common-doctor .text-content {
    padding: 19px 14px 13px;
  }
  .home-doctors.doctors-var-two {
    text-align: left;
    background-color: #fff;
  }
  .home-doctors.doctors-var-two .slogan-section {
    text-align: left;
  }
  .home-doctors.doctors-var-two .common-doctor {
    background-color: transparent;
  }
  .home-doctors.doctors-var-two .common-doctor .for-border {
    display: none;
  }
  .home-doctors.doctors-var-two .common-doctor .text-content {
    padding: 20px 0 20px;
  }
  .home-doctors.doctors-var-two .text-center {
    text-align: left;
  }
  
  .slogan-section {
      margin-bottom: 50px;
      text-align: center;
  }
  
  .home-doctors .common-doctor .for-border {
      margin-bottom: 20px;
  }
  
  .home-doctors .common-doctor h5 small {
      color: orange;
      font-weight: bold;
      font-size: 0.8em;
      font-style: italic;
  }
  
  .home-doctors .common-doctor ul{
      position: absolute;
      top: 50%;
      left: 0;
      width: 100%;
      margin-top: -28px;
      text-align: center;
      margin-top: -2em;
      opacity: 0.5;
      z-index: 1;
  }
  
  .home-doctors .common-doctor li a {
      background: white;
      color: grey;
      padding: 0.75em;
  }
  
  .social-lists>li>a:hover {
      margin-top: -2em;
      opacity: 1;
      background-color:grey;
      color:white;
  }
  
  /*=============== //Home-team ===============*/

/* testimonial*/

section {
    padding-top: 100px;
    padding-bottom: 100px;
}

.quote {
    color: rgba(0,0,0,.1);
    text-align: center;
    margin-bottom: 30px;
}

#carousel{
    background-color: #acacac;
}

/*testimonial*/

#testimonial4{
    overflow: hidden;
    min-height: 375px;
    position: relative;
  }
  #testimonial4 .carousel-inner{
    width: 75%;
    margin: auto;
  }
  #testimonial4 .carousel-inner:hover{
    cursor: -moz-grab;
    cursor: -webkit-grab;
  }
  #testimonial4 .carousel-inner:active{
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;
  }
  #testimonial4 .carousel-inner .item{
    overflow: hidden;
  }
  
  .testimonial4_indicators .carousel-indicators{
    left: 0;
    margin: 0;
    width: 100%;
    font-size: 0;
    height: 20px;
    bottom: 15px;
    padding: 0 5px;
    cursor: e-resize;
    overflow-x: auto;
    overflow-y: hidden;
    position: absolute;
    text-align: center;
    white-space: nowrap;
  }
  .testimonial4_indicators .carousel-indicators li{
    padding: 0;
    width: 10px;
    height: 10px;
    border: none;
    text-indent: 0;
    margin: 2px 3px;
    cursor: pointer;
    display: inline-block;
    background: #ffffff;
    -webkit-border-radius: 100%;
    border-radius: 100%;
  }
  .testimonial4_indicators .carousel-indicators .active{
    padding: 0;
    width: 10px;
    height: 10px;
    border: none;
    margin: 2px 3px;
    background-color: #000;
    -webkit-border-radius: 100%;
    border-radius: 100%;
  }
  .testimonial4_indicators .carousel-indicators::-webkit-scrollbar{
    height: 3px;
  }
  .testimonial4_indicators .carousel-indicators::-webkit-scrollbar-thumb{
    background: #eeeeee;
    -webkit-border-radius: 0;
    border-radius: 0;
  }
  
  .testimonial4_control_button .carousel-control{
    top: 175px;
    opacity: 1;
    width: 40px;
    bottom: auto;
    height: 40px;
    font-size: 10px;
    cursor: pointer;
    font-weight: 700;
    overflow: hidden;
    line-height: 38px;
    text-shadow: none;
    text-align: center;
    position: absolute;
    background: transparent;
    border: 2px solid #ffffff;
    text-transform: uppercase;
    -webkit-border-radius: 100%;
    border-radius: 100%;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-transition: all 0.6s cubic-bezier(0.3,1,0,1);
    transition: all 0.6s cubic-bezier(0.3,1,0,1);
  }
  .testimonial4_control_button .carousel-control.left{
    left: 7%;
    right: auto;
  }
  .testimonial4_control_button .carousel-control.right{
    right: 7%;
    left: auto;
  }
  .testimonial4_control_button .carousel-control.left:hover,
  .testimonial4_control_button .carousel-control.right:hover{
    color: #000;
    background: #fff;
    border: 2px solid #fff;
  }
  
  .testimonial4_header{
    top: 0;
    left: 0;
    bottom: 0;
    width: 550px;
    display: block;
    margin: 30px auto;
    text-align: center;
    position: relative;
  }
  .testimonial4_header h4{
    
    font-size: 30px;
    font-weight: 600;
    position: relative;
    letter-spacing: 1px;
    text-transform: uppercase;
  }
  
  .testimonial4_slide{
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 70%;
    margin: auto;
    padding: 20px;
    position: relative;
    text-align: center;
  }
  .testimonial4_slide img {
    top: 0;
    left: 0;
    right: 0;
    width: 50px;
    height: 50px;
    margin: auto;
    display: block;

    font-size: 18px;
    line-height: 46px;
    text-align: center;
    position: relative;
  }
  
  .testimonial4_slide p {
    font-size: 16px;
    margin: 40px 0 20px 0;
  }
  
  .testimonial4_slide h4 {
    font-size: 24px;
    font-weight: bold;
  }
  
/*end of testimonial*/

.specialoffer>.jumbotron {
    background-color: orange;    
    background-size: cover;
    height: 350px;
    width: 100%;
}

.specialoffer .jumbotron .container {
    position: relative;
    color: white;
}

#button3{
    background-color: white;
    color: orange;
}
#button3:hover{
    background-color: orange;
    color: white;
}

.appointments{
    background-color: orange;
    color: white;
}

.appointments>h1,.appointments>p{
    margin-left: 100px;
    margin-right: 100px;
}

.contacts h1{
    color: orange;
}

.contacts p{
    color: white;
}

.footer{
    background-color: black;
    color: white;
}

.footer p{
    margin-left: 50px;
    margin-right: 50px;
}

.footer a{
    color: grey;
}